$right-margin: 1rem;

a {
  margin-right: $right-margin;
  font-weight: 400;

  &.active {
    font-weight: 600;
  }
}

a.logo {
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: $right-margin;
}

.spacer {
  flex: 1 1 auto;
}
