<div class="navbar button-row">
  <a
    class="logo"
    mat-button
    routerLink="/"
  >Material Table Guide</a>
  <a
    mat-raised-button
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >Home</a>
  <a
    mat-raised-button
    routerLink="/basic"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >Basic</a>
  <a
    mat-raised-button
    routerLink="/paginator"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >Paginator</a>
  <a
    mat-raised-button
    routerLink="/filter"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >Filter</a>
  <a
    mat-raised-button
    routerLink="/editable"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >Editable</a>
</div>
